<app-home-layout>
<!--     
    <head><link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> -->
    <!-- </head> --> 

    <body >
        <section class="about">
            <div class="main">
                <img class="background-img" src="../../../assets/images/arac-kiralama.jpg" alt="">
                <div class="all-text">
                    <h2>About Us</h2>
                    
                    <p>At Mynex  we are dedicated to providing our customers with the highest quality car rental services.
                        Our extensive fleet of vehicles and customer-centric service philosophy ensure that your travels are comfortable, safe, and enjoyable.
                        Whether it's for business trips or vacation plans, we offer tailored solutions to meet every need. 
                        Our professional team is committed to delivering exceptional service and support throughout your rental experience.
                        
                    </p>
                    <p>Our mission is to provide an unparalleled car rental experience that combines convenience, reliability, and exceptional customer service.
                     We strive to make every journey with Mynex  a memorable one by ensuring that our clients have access to the best vehicles and the most supportive team in the industry.
                      Discover the freedom of the open road with Mynex. Wherever your destination, we are here to help you get there with ease and comfort.
                    
                      <p>Feel free to adjust any part to better fit your vision for Mynex Rental!
                        .Welcome to a new standard of excellence in car rental. Welcome to Mynex.</p>
                </div>
                <div class="btn">

                </div>
            </div>

        </section>
    </body>

</app-home-layout>