<app-home-layout>
    
    <head><link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>

    <body >
        <section class="about">
            <div class="main">
                <img class="background-img" src="../../../assets/images/car-photo-for-about.png" alt="">
                <div class="all-text">
                    <h4>About Us</h4>
                    <h1>Experience The Epitome Of Luxury</h1>
                    <p>Welcome to <strong>Quadriga</strong>, your premier destination for luxury car rentals. At
                        <strong>Quadriga</strong>, we pride ourselves on delivering an unparalleled experience,
                        offering a diverse fleet of modern and high-end vehicles to cater to your every need. 
                        Founded with a passion for luxury and a commitment to exceptional service,
                        <strong>Quadriga</strong> has quickly become synonymous with prestige and sophistication
                        in the car rental industry. Our goal is simple: to provide our clients with access to
                        the finest selection of vehicles paired with seamless customer service, ensuring that
                        every journey with us is nothing short of extraordinary.
                    </p>
                    <p>What sets <strong>Quadriga</strong> apart is not just our vehicles, but our unwavering
                        dedication to client satisfaction. Our team of experienced professionals is committed to
                        going above and beyond to make your rental experience as effortless and enjoyable as
                        possible. From the moment you inquire about a vehicle to the final handover, we are here
                        to ensure that every detail is taken care of with the utmost care and attention.
                        At <strong>Quadriga</strong>, we understand that luxury is not just about the vehicle you
                        drive, but the experience it provides. That's why we offer a range of personalized
                        services and amenities to enhance your rental experience, from concierge assistance to
                        custom delivery options. Whatever your needs may be, we are here to tailor our services
                        to suit you.
                    <p>Experience the epitome of luxury and convenience with <strong>Quadriga</strong>. Whether
                        you're traveling for business or pleasure, let us elevate your journey with our
                        unparalleled selection of modern and luxurious vehicles. Welcome to a new standard of
                        excellence in car rental. Welcome to <strong>Quadriga</strong>.</p>
                </div>
                <div class="btn">

                </div>
            </div>

        </section>
    </body>

</app-home-layout>