<form [formGroup]="form" (ngSubmit)="onFormSubmit()">

    @if (formMessage) {
        <small> {{formMessage}} </small>
    }

    <div class="mt-3">
        <label for="modelIdInput" class="form-text text-muted"> Model ID: </label>
        <input
            formControlName="modelId"
            type="number"
            placeholder="Please enter Model Id::"
            id="description"
            class="ms-3"/>
    </div>
    <div class="mt-3">
        <label for="yearInput" class="form-text text-muted"> Year:</label>
        <input
            formControlName="year"
            type="number"
            placeholder="Please enter year:"
            id="yearInput"
            class="ms-3"/>
    </div>
    
   
    <div class="mt-3">
        <label for="plateInput" class="form-text text-muted"> Plate: </label>
        <input
            formControlName="plate"
            type="text"
            placeholder="Please enter plate:"
            id="plate"
            class="ms-3"/>
    </div>
    
    <div class="mt-3">
        <label for="priceInput" class="form-text text-muted"> Price: </label>
        <input
            formControlName="price"
            type="number"
            placeholder="Please enter price:"
            id="price"
            class="ms-3"/>
    </div>
    <div class="mt-3">
        <label for="stateInput" class="form-label">State:</label>
            <select formControlName="state" id="stateInput" class="form-control">
                <option value="1">Available</option>
                <option value="2">Rented</option>
                <option value="3">Under Maintenance</option>
            </select>
    </div>
    
    <div class="mt-3">
        <label for="transmissionTypeIdInput" class="form-label"> Tranmission: </label>
            <select formControlName="transmissionTypeId" id="transmissionTypeId" class="form-control">
                <option value="1">Manual</option>
                <option value="2">Semi-Automatic</option>
                <option value="3">Full-Automatic</option>
            </select>
    </div>
    <div class="mt-3">
        <label for="fuelTypeIdInput" class="form-label"> Fuel Type: </label>
            <select formControlName="fuelTypeId" id="fuelTypeId" class="form-control">
                <option value="1">Petrol</option>
                <option value="2">Diesel</option>
                <option value="3">Gas</option>
