<div class="row">
    @for (model of filteredModels; track $index) {
      <app-card
        [title]="model.name!"
        [text]="getModelCardText(model)"
        buttonLabel="Rent" routerLink="/payment"
        class="col-12 col-md-5 p-3"
      ></app-card>
      }
  
  </div>



  <!-- <div class="row">
    @for (model of filteredModels; track $index) 
    {
      <div class="card" style="width: 16rem;">

          <div class="card-body">
            <h5 class="card-text"><b>Name: </b> {{model.name}} </h5>
            <p class="card-text"><b>FuelId: </b> {{model.fuelId}} </p>
            <p class="card-text"><b>TransmissionId: </b> {{model.transmissionId}} </p>
            [imageSrc]= model.imageUrl

            
            <button type="button" class="btn btn-primary" routerLink="/payment"> Rent Now </button>
          </div>
      </div>
    }

</div> -->